<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmapp.fil.mapper.FilUserLevelMapper">
    
    <resultMap type="FilUserLevel" id="FilUserLevelResult">
        <result property="userId"    column="user_id"    />
        <result property="superId"    column="super_id"    />
        <result property="level"    column="level"    />
    </resultMap>

    <sql id="selectFilUserLevelVo">
        select user_id, super_id, `level` from fil_user_level
    </sql>

    <select id="selectFilUserLevelList" parameterType="FilUserLevel" resultMap="FilUserLevelResult">
        <include refid="selectFilUserLevelVo"/>
        <where>  
            <if test="level != null "> and level = #{level}</if>
        </where>
    </select>
    
    <select id="selectFilUserLevelById" parameterType="Long" resultMap="FilUserLevelResult">
        <include refid="selectFilUserLevelVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertFilUserLevel" parameterType="FilUserLevel">
        insert into fil_user_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="superId != null">super_id,</if>
            <if test="level != null">level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="superId != null">#{superId},</if>
            <if test="level != null">#{level},</if>
         </trim>
    </insert>

    <update id="updateFilUserLevel" parameterType="FilUserLevel">
        update fil_user_level
        <trim prefix="SET" suffixOverrides=",">
            <if test="superId != null">super_id = #{superId},</if>
            <if test="level != null">level = #{level},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <insert id="insertBatchUserLevel">
        insert into fil_user_level(user_id, super_id, `level`)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.superId},#{item.level})
        </foreach>
    </insert>

</mapper>